name: Hello Actions

on:
  push:
    branches:
      - test
      - test2
    paths:
      - src/**
      - package.json

  pull_request:
    branches:
      - test
    paths:
      - src/**
      - package.json

  workflow_dispatch:
    inputs:
      environment:
        description: Which environment to deploy to?
        required: true
        default: test
        type: choice
        options:
          - test

jobs:
  say-hello:
    runs-on: ubuntu-latest
    steps:
      - name: Print a greeting
        run: echo "Hello from GitHub Actions!"